<html>
  <head>
    <meta content='{{ page.title }} - {{ site.title }}' name='title' />
    <meta content='{{ page.title }} - {{ site.title }}' name='og:title' />
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div id='container'>
      {% include links.html %}
      <div class="content">
          <section class='post'>
			<h2>{{ page.resource-name }}</h2>

			<div class="description">
			  <p class="lead">{{ page.description }}</p>
			</div>

			<h3>Details</h3>
			<ul class="partner-details">
			  <li>Link: <a target="_blank" href="{{ page.resource-url }}">{{ page.resource-url }}</a></li>             
        <li>Education Level: {{ page.resource-education-level }}</li>
        <li>Academic Focus: {{ page.resource-academic-focus }}</li>
        <li>Teaching Style: {{ page.resource-teaching-style }}</li>
			</ul>

			{{ content }}
          </section>
        </div>
    </div>
    {% include footer.html %}
  </body>
</html>